@import "tailwindcss";

* {
    font-family: 'Poppins', sans-serif;
}

#home {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

#navbar {
    font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}